page-items-list {

}

.item-inner {
    margin-left: 10px !important;
}

// .spacers {
//     height: 0px !important;
// }

.item-md {
    height: 70px;
}

.expired {
    background: #e0e0e0;
    color: #9e9e9e;
}